<div class="container">
  <div class="col-md-12">
    <%= image_tag("logo.png", id: "logo") %>

    <%= form_for(:user, :url=> {:action => "create"}) do |f| %>
    <h2>Sign up for weekly texts of local family friendly events</h2>

    <div class="input-group input-group-lg">
      <!--   <input type="text" class="form-control input-sm" placeholder="user@email.com"> -->
      <%= f.text_field(:email, :class => "form-control input-sm", :placeholder => "user@email.com" ) %>
      <span class="input-group-btn" style="width:0px;"></span>

      <!--  <input type="text" class="form-control input-sm" style="border-left: none;" placeholder="(614) 123-4567"> -->
      <%= f.text_field(:phone, :class => "form-control input-sm", :style => "border-left: none", :placeholder=>"6141234567") %>


      <span class="input-group-btn">
        <!-- <button class="btn btn-default" type="button" style="border-left: none;"> </button> -->
        <%= submit_tag "Subscribe", :class => "btn btn-default", :style => "border-left: none", :type => "button" %>
      </span>
    </div>

    <% end %>
  </div>
</div>

